<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>2D Car Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="score">Score: 0</div>
  <div id="gameArea">
    <div class="car" id="car"><img src="C:\Users\HP\OneDrive\Desktop\cargame2d\cargame2d\static\images\enemy.png.jpeg" alt=""></div>
    <div class="enemy" id="enemy1"></div>
    <div class="enemy" id="enemy2"></div>
    <div class="enemy" id="enemy3"></div>
    <div class="line" id="line1"></div>
    <div class="line" id="line2"></div>
    <div class="line" id="line3"></div>
    <div id="gameOver">
      Game Over!<br>
      <input type="text" id="playerName" placeholder="Enter your name"><br>
      <button id="submitBtn">Submit Score</button>
      <button id="restartBtn">Restart</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> 
