

 body { margin: 0; padding: 0; overflow: hidden; font-family: Arial, sans-serif; background: #111; color: white; }

#score { position: absolute; top: 10px; left: 10px; font-size: 20px; z-index: 2; }

#gameArea { position: relative; width: 400px; height: 600px; margin: 0 auto; background: #333; overflow: hidden; border: 2px solid white; }

#car { width: 65px; height: 110px; position: absolute; bottom: 10px; left: 175px; background: url('/static/images/player.png.jpeg') no-repeat center center; background-size: cover; z-index: 10; }

.enemy { width: 65px; height: 130px; position: absolute; background-size: cover; }

#enemy1 { background-image: url('/static/images/enemy1.png'); }

#enemy2 { background-image: url('/static/images/enemy2.png'); }

#enemy3 { background-image: url('/static/images/enemy3.png'); }

.line { position: absolute; width: 5px; height: 100px; background: white; z-index: 1; }

#gameOver { position: absolute; top: 250px; left: 100px; display: none; font-size: 24px; color: red; z-index: 1; }

#submitBtn, #restartBtn { margin-top: 10px; padding: 5px 10px; cursor: pointer; }

#enemy2 {
    width: 55px; 
    height: 130px;
    z-index: 3;
    position: absolute;
}

#enemy3 {
      width: 60px; 
    height: 130px;
    z-index: 3;
    position: absolute;
}

#enemy3 {
      width: 60px; 
    height: 130px;
    z-index: 3;
    position: absolute;
}